@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white: #F6F1F1;
    --cyan: #19A7CE;
    --blue: #146C94;
    --black: #000000;
    --neon: #84D7EE;
}

a{
    text-decoration: none;
}

h1{
    overflow: hidden;
}

.register-bg{
    background: url(../assets/RegisterBg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 35%;
    height: 100vh;
}

.login-bg{
    background: linear-gradient(rgba(29, 198, 245, 0.65),rgba(25, 167, 206,0.65)),url(../assets/WomanCall.png);
    /* background: url(../assets/WomanCall.png); */
    background-size: contain;
    background-repeat: no-repeat;
    /* width: 60%;
    height: 100vh; */
    width: 845px;
    height: 120vh;
    
}

.register-content{
    width: 35%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.login-content{
    /* padding-top: 120px; */
    width: 677px;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cyan);
    gap: 30px;
}

.register-heading h1{
    font-size: 36px;
    line-height: 54px;
    font-weight: 400;
}

.login-heading{
    display: flex;
    justify-content: center;
    /* margin-right: 35%; */
    /* padding-bottom: 50px; */
}

.login-heading h5{
    /* font-size: 36px; */
    line-height: 54px;
    font-weight: bold;
    color: white;
}

#bottom-heading{
    font-weight: 700;
    padding-bottom: 50px;
}

.register-input input{
    width: 480px;
    height: 55px;
    border-radius: 20px;
    border: none;
    background-color: #E3CDC1;
    text-align: start;
    margin-left: 15px;
}

.register-input input{
    padding-left: 20px;
}

.register-input label{
    margin-left: 30px;
    font-size: 14px;
}

.register-form > .register-input{
    padding-bottom: 20px;
}

.register-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-bottom p{
    font-size: 14px;
    padding-bottom: 32px;
}

.register-bottom a{
    text-decoration: none;
    color: #A0937D;
}

.submitBtn{
    width: 150px;
    height: 50px;
    background-color: #E7D4B5;
    border-radius: 15px;
    border: none;
    font-size: 14px;
    
    transition: ease-in-out 0.3s;
}

.submitBtn:hover{
    background-color: #A0937D;
    color: #ffffff;
}

.other{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.connect{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.other-button{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.other-button a{
    display: flex;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
}

.other-button p{
    margin-bottom: 0px;
}

.connect p{
    color: white;
    font-weight: bold;
    font-size: larger;
}

.forgot{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.forgot a{
    color: white;
}

hr{
    border: 1px solid var(--white);
    width: 150px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.regist-text{
    margin-top: 30px;
}

.regist-text a{
    text-decoration-line: underline;
    color: rgb(252, 181, 15);
    font-weight: bold;
}

#Register .row2{
    display: flex;
    flex-direction: column;
    width: 850px;
    gap: 50px;
}

#Register{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: var(--cyan);
    padding-top: 50px;
    padding-bottom: 50px;
}

#Register .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Register h1{
    text-align: center;
    overflow: hidden;
    color: var(--white);
}

#Register h3{
    overflow: hidden;
    color: var(--white);
}

#Register hr{
    width: 790px;
}

#Register form{
    gap: 20px;
    background-color: var(--blue);
    padding: 30px;
    border-radius: 20px;
}

form label{
    color: var(--white);
}

.bottom-reg p{
    text-align: end;
}

.bottom-reg a{
    color: var(--white);
}

#Register .btn{
    border-radius: 50px;
    width: 110px;
}